################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FunctionApp.SentinelLogging
/FunctionApp.SentinelLogging/Properties/PublishProfiles
/.vs/ProjectEvaluation

# Azure Functions localsettings file
**/local.settings.json